@import "../modules/photon-colors";
@import "../modules/reddit-colors";
@import "./modules/shadow";
$header-height: 3rem;

:root,
html,
body,
#root,
.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .content {
    position: relative;
    height: calc(100vh - #{$header-height});
    margin: $header-height auto 0 auto;
    background-color: $grey-20;
  }

  .columns {
    display: flex;
    height: calc(100vh - #{$header-height});
    flex: 1 1 auto;
    width: inherit;
    justify-content: center;
    scrollbar-color: $grey-40 $grey-20;
    scrollbar-width: thin;

    .column-wrapper {
      background-color: $magenta-50;
      display: flex;
      flex: 1 1 100vw;
    }

    .column {
      scroll-behavior: smooth;
      height: inherit;
      background-color: $grey-20;
      // border-right: 1px solid $grey-30;
      overflow-x: hidden;
      overflow-y: scroll;
      // width: 100%;
      flex: 1 1 auto;
      background-color: $grey-20;
      padding: 0.5rem 1rem 1rem;
      &.lightbox-open {
        height: max-content;
        // overflow: hidden;
      }
      &.main {
        padding: 0;
        position: sticky;
        top: 0;
        bottom: 0;
        left: 0;
        flex: 0 0 480px;
        // width: 450px;
        // max-width: 600px;
        height: inherit;
        overflow: hidden;
        // @include shadow;
        // border-right: 1px solid $grey-30;
        .post-listing {
          // background-color: white;
          // border: 1px solid $grey-30;
          height: 100%;
          position: relative;
          // margin: 0.5rem;
          .scroll-wrapper {
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            scrollbar-color: $grey-50 $grey-30;
            scrollbar-width: thin;
            .post-wrapper {
              margin-right: 0;
              border-width: 1px 1px 1px 1px;
              margin: 0.5em;
            }
          }
        }
      }
      &.secondary {
        .comment-listing {
          margin: 0 auto;
          max-width: 800px;
          background-color: white;
          // border: 1px solid $grey-30;
        }
      }
      &:last-of-type {
        scrollbar-width: auto;
        scrollbar-color: auto;
        &:first-of-type {
          .post-listing {
            margin: 0.5rem auto;
            max-width: 800px;
            height: initial;
            & > .scroll-wrapper {
              height: inherit;
              overflow: unset;
            }
          }
          flex: 1 1 auto;
          overflow-x: hidden;
          overflow-y: scroll;
        }
      }
      &.subscriptions-page {
        display: grid;
        // grid: auto-flow dense auto / auto;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, 18rem);
      }
    }
  }

  .sidebar {
    $border-color: $blue-40;
    font-size: 0.75rem;
    &.hide {
      display: none;
      animation: fade-up 0.2s ease backwards;
    }
    &.show {
      background-color: $grey-20;
      position: fixed;
      top: 2.8rem;
      right: 1.4rem;
      bottom: 3rem;
      width: 300px;
      background-color: white;
      border: 1px solid $border-color;
      border-radius: 0.5rem;
      overflow: hidden;
      animation: fade-up 0.2s ease forwards;
      @include hover-shadow;
      &:before {
        content: " ";
        position: fixed;
        top: 2.3rem;
        right: 3.4rem;
        width: 1rem;
        height: 1rem;
        background-color: white;
        border: 1px solid $border-color;
        border-width: 1px 0 0 1px;
        transform: rotate(45deg);
        animation: fade-up 0.2s ease forwards;
      }
      .sidebar-content {
        height: 100%;
        overflow-y: scroll;
        scrollbar-color: $grey-30 white;
        scrollbar-width: thin;
        padding: 1em;
      }
    }
  }
}

.comment-listing {
  & > .comment {
    margin: 0 auto;
    border: 1px solid $grey-30;
    border-width: 0 1px 1px 1px;
    padding: 0.5em 0.5em 0.5em 0.25em;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    top: -10px;
  }
  100% {
    opacity: 1;
  }
}

.__react_component_tooltip {
  padding: 0.5em 0.85em;
  font-size: 0.75rem;
}
