@import "../modules/photon-colors";
@import "../modules/reddit-colors";

// .comment-wrapper {
//   display: flex;
//   flex-direction: column;
//   .collapse-depth {
//     @for $i from 1 to 10 {
//       &[depth="#{$i}"] {
//         margin-left: $i * 0.5rem;
//       }
//     }
//   }
// }
.comment {
  .votes {
    padding: 0;
    button {
      min-width: unset;
      padding: 0;
      height: 1.5em;
      .feather {
        height: 1.5em;
      }
    }
    .upvote {
      border-radius: 0.25rem 0.25rem 0 0;
    }
    .downvote {
      border-radius: 0 0 0.25rem 0.25rem;
    }
  }
  
  .left {
    .expando {
      display: none;
      padding: 0.125em;
      border-width: 0;
      width: 1.25em;
      height: 1.25em;
      &:hover {
        color: $grey-50;
      }
    }
    .votes {
      width: 100%;
    }
  }
  
  &.collapsed {
    .flair,
    .context,
    .actions,
    .body {
      display: none;
    }

    .left {
      .votes,
      .collapse {
        display: none;
      }
      .expando {
        display: block;
        color: $grey-40;
        &:hover {
          color: $grey-60;
        }
      }
    }

    .tagline {
      color: $grey-40;
      font-style: italic;
      // padding-left: 0;
      .expando {
        display: inline-block;
      }
    }
  }
}
