@import "../modules/photon-colors";
@import "../modules/reddit-colors";
$header-height: 3rem;

.app > .header {
  height: $header-height;
  border-bottom: 1px solid $grey-30;
  background-color: #fff;
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  font-size: 1.25rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  height: 100%;
  .dropdown {
    margin-right: 0.5rem;
    .btn.dropdown-toggle {
      margin: 0;
      padding: 0;
      &:after {
        display: none;
      }
    }
    .dropdown-menu.show {
      // width: 240px;
      // padding: 0;
      padding-bottom: 0;
      .scroll-wrapper {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        padding-bottom: 0.5em;
      }
      .form-control {
        margin: 0.5rem 1rem;
        width: auto;
        position: sticky;
        top: 0;
      }
      .dropdown-header {
        position: sticky;
        top: 0;
        background-color: white;
      }
    }
  }
  .brand {
    font-size: 1.125rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    line-height: 1;
    padding: 0 0.75rem;
    .subreddit-icon {
      font-size: 1.5rem;
    }
    a {
      color: $grey-90;
    }
    .feather-chevron-down {
      display: inline;
      vertical-align: text-bottom;
    }
  }
  .quick-favorites {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.25rem;
    border: 1px solid $grey-30;
    border-width: 0 1px;
    padding: 0 0.75rem;
    .quick {
      .subreddit-icon {
        border: 2px solid white;
        box-sizing: content-box;
        transition: border-color 0.1s ease;
        margin: 0.125rem;
        &:hover {
          border-color: $blue-50;
        }
      }
    }
  }
}

.user-menu {
  padding: 0 0.75rem;
  .dropdown {
    .dropdown-toggle {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 0.25em;
      &:after {
        display: none;
      }
    }
  }
}
