/* From reddit brand guidelines: */
/* https://www.redditinc.com/assets/press-resources/reddit_brand_guidelines_20180314.pdf */

$orangered:  #FF4500;
$yellow:     #FFCA00;
$mango:      #FFB000;
$orange:     #FF8717;
$mint:       #0DD3BB;
$teal:       #00A6A5;
$blue:       #24A0ED;
$alien-blue: #0079D3;